## This file is part of Whonix.
## Copyright (C) 2012 - 2018 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: anon-gpg-tweaks
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile
Homepage: https://github.com/Whonix/anon-gpg-tweaks
Vcs-Browser: https://github.com/Whonix/anon-gpg-tweaks
Vcs-Git: https://github.com/Whonix/anon-gpg-tweaks.git
Standards-Version: 3.9.8

Package: anon-gpg-tweaks
Architecture: all
Depends: ${misc:Depends}
Description: gnupg configuration for Anonymity Distributions
 Security and privacy enhancements for gnupg's config files
 /etc/skel/.gnupg/gpg.conf and /etc/skel/.gnupg/dirmngr.conf.
 .
 Ships Thunderbird torbirdy configuration file
 /etc/thunderbird/pref/30_whonix.js that allows torified keyserver access.
 .
 See also:
 https://raw.github.com/ioerror/torbirdy/master/gpg.conf
 https://github.com/ioerror/torbirdy/pull/11
